.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 35px;
  background-color: var(--lightgreyBtnColor);
  padding: var(--spacing);
  border-radius: var(--secondaryBorderRadius);
  transition: box-shadow var(--transitionDurationAndFunc);
}

.link:hover,
.link:focus {
  box-shadow: var(--primaryShadow);
}

.link > svg {
  width: 100%;
  height: 100%;
  stroke: inherit;
  fill: var(--lightgreyIconColor);
}

.delete {
  composes: link;
  background-color: var(--redBtnColor);
}

.delete > svg {
  fill: var(--redIconColor);
}

.edit {
  composes: link;
  background-color: var(--blueBtnColor);
}

.edit > svg {
  fill: var(--blueIconColor);
}

.phone {
  composes: link;
  background-color: var(--greenBtnColor);
}

.phone > svg {
  fill: var(--greenIconColor);
}

.message {
  composes: link;
  background-color: var(--yellowBtnColor);
}

.message > svg {
  fill: var(--yellowIconColor);
}

.chat {
  composes: link;
  background-color: var(--blueBtnColor);
}

.chat > svg {
  fill: var(--blueIconColor);
}

.logout {
  composes: link;
  background-color: var(--redBtnColor);
}

.logout > svg {
  fill: var(--redIconColor);
}

.delete-transparent {
  composes: link;
  background-color: transparent;
}

.deleteTransparent > svg {
  fill: var(--redIconColor);
}

.toggleShowPassword {
  composes: link;
  background-color: transparent;
}

.toggle-show-password > svg {
  fill: var(--primaryColor);
}

.clear-filter {
  composes: link;
  background-color: transparent;
}

.clearFilter > svg {
  fill: var(--whiteColor);
}
