.titleWrap {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.name {
  color: var(--primaryFontColor);
  font-family: Jua;
  font-size: var(--secondaryFontSize);
  font-weight: var(--otherFontWeight);
  text-align: center;
  word-break: normal;
}

.role {
  color: var(--secondaryFontColor);
  font-family: Inter;
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-align: center;
  word-break: normal;
}

/* import styled from '@emotion/styled';

export const ImageContainer = styled.div`
  position: relative;
  display: inline-block;
`;


export const ContactTitle = styled.div`

`;





export const NavBar = styled.nav`
  width: 100%;
  background-color: ${({ theme }) => theme.colors.lightgreyColor};
  padding: ${({ theme }) => theme.spacing()};
  border-radius: ${({ theme }) => `${theme.borderRadius.navBarBorderRadius}px`};
`;

export const NavList = styled.ul`
  display: flex;
  justify-content: space-between;
`;

export const ListItem = styled.li`
  & a {
    display: block;
    padding: ${({ theme }) => `${theme.spacing()} ${theme.spacing(5)}`};
    border-radius: ${({ theme }) =>
      `${theme.borderRadius.secondaryBorderRadius}px`};
    color: ${({ theme }) => theme.colors.otherFontColor};
    font-family: Jua;
    font-size: ${({ theme }) => `${theme.fontSize.primaryFontSize}px`};
    font-weight: ${({ theme }) => theme.fontWeight.otherFontWeight};
    transition: background-color
      ${({ theme }) => theme.transitionDurationAndFunc};
    &.active,
    &:hover,
    &:focus {
      background-color: ${({ theme }) => theme.colors.otherLinkColor};
    }
  }
`; */
