.titleWrap {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.name {
  color: var(--primaryFontColor);
  font-family: var(--font-jua);
  font-size: var(--secondaryFontSize);
  font-weight: var(--otherFontWeight);
  text-align: center;
  word-break: normal;
}

.role {
  color: var(--secondaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-align: center;
  word-break: normal;
}
