.inputContainer {
  position: relative;
}

.inputContainer svg {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--greyColor);
}

.input {
  width: 100%;
  height: 44px;
  border: 1px solid var(--borderColor);
  border-radius: var(--secondaryBorderRadius);
  padding: 8px 8px 8px 40px;
  font-family: var(--font-inter);
  color: var(--primaryFontColor);
  font-weight: var(--primaryFontWeight);
  font-size: var(--secondaryFontSize);
  letter-spacing: 0.04em;
  transition: border-color var(--transitionDurationAndFunc);
}

.input:focus {
  outline: none;
  border-color: var(--primaryColor);
}

.input:focus + svg {
  transition: color var(--transitionDurationAndFunc);
  color: var(--primaryColor);
}

.authForm {
  composes: input;
  height: 60px;
  padding: 8px 40px 8px;
  font-size: var(--otherFontSize);
}

.filter {
  composes: input;
  background-color: transparent;
  border-color: var(--whiteColor);
  border-radius: var(--primaryBorderRadius);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--whiteColor);
  max-width: 200px;
  padding-left: calc(var(--spacing) * 4);
  padding-right: calc(var(--spacing) * 10);
}

.filter:focus {
  outline: none;
  border-color: inherit;
}

.label input {
  position: fixed;
  transform: scale(0);
}

.checkbox {
  composes: label;
}

.checkbox svg {
  width: 44px;
  height: 100%;
  display: block;
  padding: calc(var(--spacing) * 2);
  border: 1px solid;
  border-color: var(--borderColor);
  border-radius: var(--secondaryBorderRadius);
  background-color: transparent;
  fill: transparent;
  cursor: pointer;
  transition: box-shadow var(--transitionDurationAndFunc),
    background-color var(--transitionDurationAndFunc),
    color var(--transitionDurationAndFunc),
    border-color var(--transitionDurationAndFunc);
}

.input:checked + svg {
  border-color: transparent;
  background-color: var(--otherColor);
  fill: var(--whiteColor);
}

.checkbox svg:hover,
.checkbox svg:focus {
  box-shadow: var(--primaryShadow);
}
