.menu {
  display: flex;
  gap: var(--primaryGap);
}

.link {
  display: block;
  width: 100px;
  padding: 12px;
  border-radius: var(--primaryBorderRadius);
  border: 1px solid var(--whiteColor);
  color: var(--whiteColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-decoration: none;
  text-align: center;
  transition: color, background-color var(--transitionDurationAndFunc);
}

.link:hover,
.link:focus,
.link.active {
  color: var(--otherColor);
  background-color: #fff;
  outline: none;
}
