.container {
  display: flex;
  flex-direction: column;
  gap: var(--primaryGap);
  align-items: center;
}

.message {
  color: var(--redIconColor);
  font-family: var(--font-inter);
  font-size: var(--otherFontSize);
  font-weight: var(--secondaryFontWeight);
  text-align: center;
}

.button {
  height: 48px;
  width: 250px;
  text-decoration: none;
  padding: 8px 12px;
  background-color: var(--redBtnColor);
  color: var(--redIconColor);
  border-radius: var(--primaryBorderRadius);
  outline: none;
  border-color: transparent;
  transition: background-color var(--transitionDurationAndFunc);
}

.button:hover,
.button:focus {
  background-color: var(--redIconColor);
  color: var(--whiteColor);
}
