.message {
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--secondaryFontSize);
  font-weight: var(--primaryFontWeight);
}

.message > a {
  color: var(--primaryColor);
}
