.title {
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--otherFontSize);
  font-weight: var(--secondaryFontWeight);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--primaryGap);
}

.container {
  display: flex;
  gap: 40px;
  align-self: center;
}

.container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: var(--spacing);
  background-color: var(--btnBackgroundColor);
  border-radius: var(--secondaryBorderRadius);
  border-color: transparent;
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-decoration: none;
  transition: box-shadow var(--transitionDurationAndFunc);
}

.container > a:hover,
.container > a:focus {
  box-shadow: var(--primaryShadow);
}
