.container {
  display: flex;
  flex-direction: column;
  gap: var(--primaryGap);
}

.modalForm {
  composes: container;
  width: 100%;
  background-color: transparent;
}

.authForm {
  composes: container;
  width: 600px;
  margin: 40px auto;
  padding: var(--paddingAuthForm);
  background-color: var(--authFormBackgroundColor);
  border-radius: var(--otherBorderRadius);
  box-shadow: var(--secondaryShadow);
}

.withBackdrop {
  composes: container;
  width: 500px;
  padding: calc(var(--spacing) * 10);
  background-color: var(--whiteColor);
  border-radius: var(--otherBorderRadius);
  box-shadow: var(--secondaryShadow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-height: 727px) {
  .withBackdrop {
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
  }
}
