.container {
  display: flex;
  gap: var(--primaryGap);
}

.container a {
  display: flex;
  gap: calc(var(--spacing) * 3);
  align-items: center;
  white-space: nowrap;
  border-radius: var(--primaryBorderRadius);
  background-color: var(--otherLinkColor);
  padding: calc(var(--spacing) * 3);
  color: var(--primaryFontColor);
  font-family: Inter;
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  transition: box-shadow var(--transitionDurationAndFunc);
}

.container a:hover,
.container a:focus {
  box-shadow: var(--primaryShadow);
}
