.list {
  display: flex;
  justify-content: space-between;
}

/*

export const TemplateItem = styled.li`
  & button {
    cursor: default;
    &:hover,
    &:focus {
      box-shadow: none;
    }
  }
`;

export const Button = styled.button`
 
  &.active {
    background-color: ${({ theme }) => theme.colors.otherColor};
  }
  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: ${({ theme }) => theme.shadows.primaryShadow};
  }
`; */

.navButton {
  min-width: 30px;
  height: 40px;
  padding: calc(var(--spacing) * 2);
  background-color: transparent;
  border-color: transparent;
  border-radius: var(--primaryBorderRadius);
  color: var(--primaryFontColor);
  font-family: Jua;
  font-size: var(--secondaryFontSize);
  font-weight: var(--otherFontWeight);
  transition: box-shadow var(--transitionDurationAndFunc);
}
