.container {
  width: 600px;
  display: flex;
  gap: var(--primaryGap);
  flex-direction: column;
  background-color: var(--authFormBackgroundColor);
  padding: var(--paddingAuthForm);
  margin: 40px auto;
  border-radius: var(--otherBorderRadius);
  box-shadow: var(--secondaryShadow);
}
