.title {
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--otherFontSize);
  font-weight: var(--secondaryFontWeight);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.btnList {
  display: flex;
  gap: calc(var(--spacing) * 2);
  justify-content: center;
}
