.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: var(--spacing);
  background-color: var(--btnBackgroundColor);
  border-radius: var(--secondaryBorderRadius);
  border-color: transparent;
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  transition: var(--transitionDurationAndFunc);
}

.link:hover,
.link:focus {
  box-shadow: var(--primaryShadow);
}
