.header {
  display: inline-block;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--otherColor);
}

.section {
  padding-top: var(--paddingContainer);
  padding-bottom: var(--paddingContainer);
}
