.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.field {
  display: flex;
  justify-content: space-between;
}

.infoDesc {
  color: var(--secondaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
}

.infoData {
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
}
