.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 10);
}

.btnList {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 10);
}

.field {
  display: flex;
  justify-content: space-between;
}

.infoWrap {
  width: 180px;
}

.subtitle {
  color: var(--secondaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
}

.description {
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-align: justify;
}
