.container {
  width: 240px;
  display: flex;
  flex-shrink: 0;
}

.linksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--primaryGap);
}

.linksContainer form {
  width: 100%;
}

.signOutBtn {
  display: flex;
  height: 48px;
  width: 100%;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #f9fafb;
  align-items: center;
  border-radius: var(--primaryBorderRadius);
  outline: none;
  border-color: transparent;
  transition: background-color var(--transitionDurationAndFunc);
}

.signOutBtn p {
  color: var(--redIconColor);
}

.signOutBtn:hover,
.signOutBtn:focus {
  background-color: var(--redBtnColor);
}
