.title {
  text-transform: uppercase;
  color: var(--primaryFontColor);
  font-family: Inter;
  font-size: var(--titleFontSize);
  font-weight: var(--primaryFontWeight);
}

.message {
}

.form {
}

/* port const Title = styled.h2`
  
  
 
`;

export const Form = styled.form`
  display: flex;
  flex-direction: column;
  gap: ${({ theme }) => `${theme.primaryGap}px`};
`;

export const Message = styled.p`
  color: ${({ theme }) => theme.colors.primaryFontColor};
  font-family: Inter;
  font-size: ${({ theme }) => `${theme.fontSize.secondaryFontSize}px`};
  font-weight: ${({ theme }) => theme.fontWeight.primaryFontWeight};
`;

export const Image = styled.img`
width={150}
              height={150}
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow ${({ theme }) => theme.transitionDurationAndFunc};
  &:hover,
  &:focus {
    box-shadow: ${({ theme }) => theme.shadows.primaryShadow};
  }
`; */
