.title {
  color: var(--primaryFontColor);
  font-family: var(--font-jua);
  font-size: var(--titleFontSize);
  font-weight: var(--otherFontWeight);
}

.message {
  color: var(--otherFontColor);
  font-family: var(--font-jua);
  font-size: var(--primaryFontSize);
  font-weight: var(--otherFontWeight);
}
