.title {
  text-transform: uppercase;
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--titleFontSize);
  font-weight: var(--primaryFontWeight);
}

.message {
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--secondaryFontSize);
  font-weight: var(--primaryFontWeight);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--primaryGap);
}

.button {
  display: block;
  min-width: 170px;
  padding: 16px 32px;
  align-self: center;
  background-color: var(--primaryColor);
  border-color: transparent;
  border-radius: var(--primaryBorderRadius);
  color: #fff;
  text-align: center;
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: background-color var(--transitionDurationAndFunc);
}

.button:hover,
.button:focus {
  background-color: var(--secondaryColor);
}
