.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  color: primaryFontColor;
  font-family: var(--font-jua);
  font-weight: var(--otherFontWeight);
  font-size: var(--titleFontSize);
}

.data {
  margin-top: 28px;
  margin-bottom: 64px;
}

.avatar {
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.fullName {
  margin-top: 8px;
  margin-bottom: 4px;
  color: var(--primaryFontColor);
  font-family: var(--font-jua);
  font-weight: var(--otherFontWeight);
  font-size: var(--subtitleFontSize);
  text-align: center;
}

.email {
  color: var(--secondaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--secondaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--secondaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
}

.info:not(:last-child) {
  margin-bottom: 24px;
}

.iconWrap {
  display: flex;
  align-items: center;
}

.iconWrap > svg {
  width: 22px;
  height: 22px;
}
