.container {
  display: flex;
  flex-direction: column;
  width: 230px;
  flex-shrink: 0;
  gap: calc(var(--spacing) * 10);
}

.name {
  color: var(--primaryFontColor);
  font-family: Jua;
  font-size: var(--titleFontSize);
  font-weight: var(--otherFontWeight);
}

.data {
  text-align: center;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 30%;
}

.fullName {
  margin-top: calc(var(--spacing) * 2);
  color: var(--primaryFontColor);
  font-family: Jua;
  font-size: var(--subtitleFontSize);
  font-weight: var(--otherFontWeight);
  text-align: center;
}

.email {
  color: var(--secondaryFontColor);
  font-family: Inter;
  font-size: var(--secondaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-align: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 6);
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 3);
  color: var(--secondaryFontColor);
  font-family: Inter;
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
}

.iconWrap {
  display: flex;
  align-items: center;
}
