.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--primaryGap);
  padding: var(--spacing);
  border-radius: var(--secondaryBorderRadius);
  border-color: transparent;
  color: var(--primaryFontColor);
  font-family: var(--font-inter);
  font-size: var(--primaryFontSize);
  font-weight: var(--primaryFontWeight);
  text-decoration: none;
  transition: box-shadow var(--transitionDurationAndFunc);
  z-index: 10;
  background-color: var(--lightgreyBtnColor);
}

.button > svg {
  color: var(--lightgreyIconColor);
  transition: var(--transitionDurationAndFunc);
}

.buttonWithShadow {
  composes: button;
}

.buttonWithShadow:hover,
.buttonWithShadow:focus {
  box-shadow: var(--primaryShadow);
}

.hoveredIcon {
  composes: button;
}

.hoveredIcon > svg:hover,
.hoveredIcon > svg:focus {
  color: var(--secondaryColor);
}

.delete {
  composes: button;
  background-color: var(--redBtnColor);
}

.delete > svg {
  color: var(--redIconColor);
}

.edit {
  composes: button;
  background-color: var(--blueBtnColor);
}

.edit > svg {
  color: var(--blueIconColor);
}

.phone {
  composes: button;
  background-color: var(--greenBtnColor);
}

.phone > svg {
  color: var(--greenIconColor);
}

.message {
  composes: button;
  background-color: var(--yellowBtnColor);
}

.message > svg {
  color: var(--yellowIconColor);
}

.chat {
  composes: button;
  background-color: var(--blueBtnColor);
}

.chat > svg {
  color: var(--blueIconColor);
}

.logout {
  composes: button;
  background-color: var(--redBtnColor);
}

.logout svg {
  color: var(--redIconColor);
}

.accept {
  composes: button;
  background-color: var(--greenBtnColor);
}

.accept > svg {
  color: var(--greenIconColor);
}

.cancel {
  composes: button;
  background-color: var(--redBtnColor);
}

.cancel > svg {
  color: var(--redIconColor);
}

.deleteTransparent {
  composes: button;
  background-color: transparent;
}

.deleteTransparent > svg {
  color: var(--redIconColor);
}

.toggleShowPassword {
  composes: button;
  background-color: transparent;
}

.toggleShowPassword > svg {
  color: var(--primaryColor);
}

.clearFilter {
  composes: button;
  background-color: transparent;
}

.clearFilter > svg {
  color: var(--whiteColor);
}
