.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.link {
  display: flex;
  height: 48px;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #f9fafb;
  align-items: center;
  border-radius: var(--primaryBorderRadius);
  transition: background-color var(--transitionDurationAndFunc);
}

.link p {
  color: var(--primaryFontColor);
  transition: color var(--transitionDurationAndFunc);
}

.link.active {
  background-color: #e0f2fe;
}

.link.active p {
  color: #2f6feb;
}

.link:hover,
.link:focus {
  background-color: #e0f2fe;
}

.link:hover p,
.link:focus p {
  color: #2f6feb;
}
